@media (grid: 0) {
  @media (min-width: 320px) {
    .container {
      display: grid;
      grid-template: 0fr 0fr 1fr 2fr/ 1fr 1fr ;
      gap: 5px;
      background-color: rgb(209, 209, 209);
      grid-template-areas:
        "header header"
        "navbar navbar"
        /* "banner banner" */
        "homePage homePage"
        "footer footer";
    }
  }
}
